<div id="path-container">
    <a routerLink = '/setting'><span id="blue-span">Settings</span></a>
    <mat-icon>chevron_right</mat-icon>
    <a routerLink="/organization"><span id="blue-span">Organisation</span></a>
    <mat-icon>chevron_right</mat-icon>
    <a routerLink="/bautomate"><span id="blue-span">BAutomate</span></a>
    <mat-icon >chevron_right</mat-icon>
    <a routerLink="/accessmanage"><span  id="blue-span">Access Management </span></a>
</div>

<a routerLink="/user"><button> User</button></a>